{
    "openapi": "3.1.0",
    "info": {
        "title": "Longdo Map REST API documentation",
        "summary": "",
        "description": "The Longdo Map REST API offers comprehensive GIS APIs and data solutions, including place suggestions and searches, geocoding and reverse geocoding, address extraction, route planning, coverage area calculation, and more. You can obtain a free <a href='https://map.longdo.com/console' target='_blank'>Longdo Map API Key</a> to get started.",
        "termsOfService": "https://map.longdo.com/api/terms",
        "license-hide": {
            "name": "Apache 2.0",
            "identifier": "Apache-2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "2.1.1"
    },
    "externalDocs": {
        "description": "Find out more about Longdo Map REST API",
        "url": "https://api.longdo.com/map/doc/rest.php"
    },
    "tags": [
        {
            "name": "Place",
            "description": ""
        },
        {
            "name": "Address",
            "description": ""
        },
        {
            "name": "Route",
            "description": ""
        },
        {
            "name": "Geo",
            "description": ""
        }
    ],
    "paths": {
        "/mapsearch/json/suggest": {
            "servers": [
                {
                    "url": "https://search.longdo.com"
                }
            ],
            "parameters": [
                {
                    "name": "keyword",
                    "in": "query",
                    "description": "Suggest keyword",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "area",
                    "in": "query",
                    "description": "Geocode of suggest area (Default: Any area)",
                    "required": false,
                    "schema": {
                        "type": "Comma-separated string values"
                    }
                },
                {
                    "name": "offset",
                    "in": "query",
                    "description": "Offset of the first result returned (Default: 0)",
                    "required": false,
                    "schema": {
                        "type": "integer"
                    }
                },
                {
                    "name": "limit",
                    "in": "query",
                    "description": "Number of results returned (Default: 10)",
                    "required": false,
                    "schema": {
                        "type": "integer"
                    }
                },
                {
                    "$ref": "#/components/parameters/suggestDataset"
                },
                {
                    "name": "callback",
                    "in": "query",
                    "description": "JSONP Callback function (Default: Response in JSON)",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "tags": [
                    "Place"
                ],
                "summary": "Suggest",
                "description": "<label>Example</label><ul><li><a href=\"https://search.longdo.com/mapsearch/json/suggest?keyword=hotel&key=fortestonlydonotuseinproduction!\" target=\"_blank\">Minimum params</a></li><li><a href=\"https://search.longdo.com/mapsearch/json/suggest?keyword=central&area=20&limit=5&key=fortestonlydonotuseinproduction!\" target=\"_blank\">With area and limit</a></li></ul>",
                "operationId": "GetSuggestPlace",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "meta": {
                                            "description": "Metadata",
                                            "type": "object",
                                            "properties": {
                                                "keyword": {
                                                    "description": "Request keyword",
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "data": {
                                            "description": "List of results",
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "w": {
                                                        "description": "Suggest",
                                                        "type": "string"
                                                    },
                                                    "d": {
                                                        "description": "Suggest with keyword highlighted",
                                                        "type": "string"
                                                    },
                                                    "s": {
                                                        "description": "Dataset",
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "key": []
                    }
                ]
            }
        },
        "/mapsearch/json/search": {
            "servers": [
                {
                    "url": "https://search.longdo.com"
                }
            ],
            "parameters": [
                {
                    "name": "keyword",
                    "in": "query",
                    "description": "Search keyword",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "area",
                    "in": "query",
                    "description": "Geocode of search area (Default: Any area)",
                    "required": false,
                    "schema": {
                        "type": "Comma-separated string values"
                    }
                },
                {
                    "name": "lon",
                    "in": "query",
                    "description": "Longitude of the center of result (Default: Silom)",
                    "required": false,
                    "schema": {
                        "type": "number"
                    }
                },
                {
                    "name": "lat",
                    "in": "query",
                    "description": "Latitude of the center of result (Default: Silom)",
                    "required": false,
                    "schema": {
                        "type": "number"
                    }
                },
                {
                    "name": "span",
                    "in": "query",
                    "description": "Span with unit in deg, m or km (Default: Anywhere)",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "tag",
                    "in": "query",
                    "description": "Tag (Default: Any tag)",
                    "required": false,
                    "schema": {
                        "type": "Comma-separated string values"
                    }
                },
                {
                    "name": "offset",
                    "in": "query",
                    "description": "Offset of the first result returned (Default: 0)",
                    "required": false,
                    "schema": {
                        "type": "integer"
                    }
                },
                {
                    "name": "limit",
                    "in": "query",
                    "description": "Number of results returned (Default: 20)",
                    "required": false,
                    "schema": {
                        "type": "integer"
                    }
                },
                {
                    "$ref": "#/components/parameters/searchDataset"
                },
                {
                    "$ref": "#/components/parameters/locale"
                },
                {
                    "name": "callback",
                    "in": "query",
                    "description": "JSONP Callback function (Default: Response in JSON)",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "tags": [
                    "Place"
                ],
                "summary": "Search",
                "description": "<label>Example</label><ul><li><a href=\"https://search.longdo.com/mapsearch/json/search?keyword=hotel&key=fortestonlydonotuseinproduction!\" target=\"_blank\">Minimum params</a></li><li><a href=\"https://search.longdo.com/mapsearch/json/search?keyword=central&area=20&limit=5&key=fortestonlydonotuseinproduction!\" target=\"_blank\">With area and limit</a></li></ul>",
                "operationId": "GetSearchPlace",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "meta": {
                                            "description": "Metadata",
                                            "type": "object",
                                            "properties": {
                                                "hasmore": {
                                                    "description": "Has more result",
                                                    "type": "boolean"
                                                },
                                                "start": {
                                                    "description": "Start index",
                                                    "type": "integer"
                                                },
                                                "end": {
                                                    "description": "End index",
                                                    "type": "integer"
                                                },
                                                "keyword": {
                                                    "description": "Request keyword",
                                                    "type": "string"
                                                },
                                                "lon": {
                                                    "description": "Location of search parameter if specified",
                                                    "type": "number"
                                                },
                                                "lat": {
                                                    "description": "Location of search parameter if specified",
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "data": {
                                            "description": "List of results",
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "description": "Type of result",
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "description": "Longdo Map ID",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "Name",
                                                        "type": "string"
                                                    },
                                                    "lat": {
                                                        "description": "Latitude",
                                                        "type": "number"
                                                    },
                                                    "lon": {
                                                        "description": "Longitude",
                                                        "type": "number"
                                                    },
                                                    "icon": {
                                                        "description": "Icon image",
                                                        "type": "string"
                                                    },
                                                    "tag": {
                                                        "description": "List of tags",
                                                        "type": "array",
                                                        "items": {
                                                            "description": "Tag name",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "url": {
                                                        "description": "Website",
                                                        "type": "string"
                                                    },
                                                    "address": {
                                                        "description": "Street address",
                                                        "type": "string"
                                                    },
                                                    "tel": {
                                                        "description": "Telephone number",
                                                        "type": "string"
                                                    },
                                                    "contributor": {
                                                        "description": "Last contributor",
                                                        "type": "string"
                                                    },
                                                    "verified": {
                                                        "description": "Is POI verified",
                                                        "type": "boolean"
                                                    },
                                                    "obsoleted": {
                                                        "description": "Is POI obsoleted",
                                                        "type": "boolean"
                                                    },
                                                    "distance": {
                                                        "description": "Distance from center in the same unit of span, if span is provided",
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "key": []
                    }
                ]
            }
        },
        "/smartsearch/json/search": {
            "servers": [
                {
                    "url": "https://search.longdo.com"
                }
            ],
            "parameters": [
                {
                    "name": "keyword",
                    "in": "query",
                    "description": "Search keyword",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "area",
                    "in": "query",
                    "description": "Geocode of search area (Default: Any area)",
                    "required": false,
                    "schema": {
                        "type": "Comma-separated string values"
                    }
                },
                {
                    "name": "lon",
                    "in": "query",
                    "description": "Longitude of the center of result (Default: Silom)",
                    "required": false,
                    "schema": {
                        "type": "number"
                    }
                },
                {
                    "name": "lat",
                    "in": "query",
                    "description": "Latitude of the center of result (Default: Silom)",
                    "required": false,
                    "schema": {
                        "type": "number"
                    }
                },
                {
                    "name": "span",
                    "in": "query",
                    "description": "Span with unit in deg, m or km (Default: Anywhere)",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "tag",
                    "in": "query",
                    "description": "Tag (Default: Any tag)",
                    "required": false,
                    "schema": {
                        "type": "Comma-separated string values"
                    }
                },
                {
                    "name": "offset",
                    "in": "query",
                    "description": "Offset of the first result returned (Default: 0)",
                    "required": false,
                    "schema": {
                        "type": "integer"
                    }
                },
                {
                    "name": "limit",
                    "in": "query",
                    "description": "Number of results returned (Default: 20)",
                    "required": false,
                    "schema": {
                        "type": "integer"
                    }
                },
                {
                    "$ref": "#/components/parameters/searchDataset"
                },
                {
                    "$ref": "#/components/parameters/locale"
                },
                {
                    "name": "callback",
                    "in": "query",
                    "description": "JSONP Callback function (Default: Response in JSON)",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "$ref": "#/components/parameters/forceSmartSearch"
                },
                {
                    "name": "forcelimit",
                    "in": "query",
                    "description": "Minimum numbers of result from the Search that will not trigger next step of SmartSearch unless the 'forcesmartsearch' is set to 1 (Default: 1)",
                    "required": false,
                    "schema": {
                        "type": "integer"
                    }
                },
                {
                    "$ref": "#/components/parameters/extendedSearch"
                },
                {
                    "name": "extendedlimit",
                    "in": "query",
                    "description": "If the 'extendedsearch' is set to 1, this parameter is a minimum of longdo smart search results before using extended search (Default: 3)",
                    "required": false,
                    "schema": {
                        "type": "integer"
                    }
                },
                {
                    "name": "extendedkey",
                    "in": "query",
                    "description": "Extended API Key",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "$ref": "#/components/parameters/extendedType"
                },
                {
                    "name": "exceedtime",
                    "in": "query",
                    "description": "Limit time. If exceed, do only raw search. 0 = not use exceed time (Default: 0)",
                    "required": false,
                    "schema": {
                        "type": "number"
                    }
                },
                {
                    "name": "cache",
                    "in": "query",
                    "description": "If equal to 1, enable cache (Default: 0)",
                    "required": false,
                    "schema": {
                        "type": "bit"
                    }
                },
                {
                    "name": "extractaddress",
                    "in": "query",
                    "description": "If set to 1, response an extracted address object (Default: 0)",
                    "required": false,
                    "schema": {
                        "type": "bit"
                    }
                }
            ],
            "get": {
                "tags": [
                    "Place"
                ],
                "summary": "SmartSearch",
                "description": "<label>Example</label><ul><li><a href=\"https://search.longdo.com/smartsearch/json/search?keyword=Silom%20Bangrak%20Bangkok&key=fortestonlydonotuseinproduction!\" target=\"_blank\">Search address</a></li><li><a href=\"https://map-blog.longdo.com/smartsearch-api/\" target=\"_blank\">blog</a></li></ul>",
                "operationId": "GetSmartSearchPlace",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "meta": {
                                            "description": "Metadata",
                                            "type": "object",
                                            "properties": {
                                                "hasmore": {
                                                    "description": "Has more result",
                                                    "type": "boolean"
                                                },
                                                "start": {
                                                    "description": "Start index",
                                                    "type": "integer"
                                                },
                                                "end": {
                                                    "description": "End index",
                                                    "type": "integer"
                                                },
                                                "keyword": {
                                                    "description": "Request keyword",
                                                    "type": "string"
                                                },
                                                "lon": {
                                                    "description": "Location of search parameter if specified",
                                                    "type": "number"
                                                },
                                                "lat": {
                                                    "description": "Location of search parameter if specified",
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "data": {
                                            "description": "List of results",
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "description": "Type of result",
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "description": "Longdo Map ID",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "Name",
                                                        "type": "string"
                                                    },
                                                    "lat": {
                                                        "description": "Latitude",
                                                        "type": "number"
                                                    },
                                                    "lon": {
                                                        "description": "Longitude",
                                                        "type": "number"
                                                    },
                                                    "icon": {
                                                        "description": "Icon image",
                                                        "type": "string"
                                                    },
                                                    "tag": {
                                                        "description": "List of tags",
                                                        "type": "array",
                                                        "items": {
                                                            "description": "Tag name",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "url": {
                                                        "description": "Website",
                                                        "type": "string"
                                                    },
                                                    "address": {
                                                        "description": "Street address",
                                                        "type": "string"
                                                    },
                                                    "tel": {
                                                        "description": "Telephone number",
                                                        "type": "string"
                                                    },
                                                    "contributor": {
                                                        "description": "Last contributor",
                                                        "type": "string"
                                                    },
                                                    "verified": {
                                                        "description": "Is POI verified",
                                                        "type": "boolean"
                                                    },
                                                    "obsoleted": {
                                                        "description": "Is POI obsoleted",
                                                        "type": "boolean"
                                                    },
                                                    "distance": {
                                                        "description": "Distance from center in the same unit of span, if span is provided",
                                                        "type": "string"
                                                    },
                                                    "source": {
                                                        "description": "Map data source of search result, e.g., longdo, OSM",
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "key": []
                    }
                ]
            }
        },
        "/POIService/json/search": {
            "servers": [
                {
                    "url": "https://api.longdo.com"
                }
            ],
            "parameters": [
                {
                    "name": "area",
                    "in": "query",
                    "description": "Geocode of search area (Default: Any area)",
                    "required": false,
                    "schema": {
                        "type": "Comma-separated string values"
                    }
                },
                {
                    "name": "lon",
                    "in": "query",
                    "description": "Longitude of the center of result (Default: Silom)",
                    "required": false,
                    "schema": {
                        "type": "number"
                    }
                },
                {
                    "name": "lat",
                    "in": "query",
                    "description": "Latitude of the center of result (Default: Silom)",
                    "required": false,
                    "schema": {
                        "type": "number"
                    }
                },
                {
                    "name": "span",
                    "in": "query",
                    "description": "Span with unit in deg, m or km (Default: Anywhere)",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "tag",
                    "in": "query",
                    "description": "Tag (Default: Any tag)",
                    "required": false,
                    "schema": {
                        "type": "Comma-separated string values"
                    }
                },
                {
                    "name": "zoom",
                    "in": "query",
                    "description": "Importantness level of POI (Default: Any)",
                    "required": false,
                    "schema": {
                        "type": "integer"
                    }
                },
                {
                    "name": "offset",
                    "in": "query",
                    "description": "Offset of the first result returned (Default: 0)",
                    "required": false,
                    "schema": {
                        "type": "integer"
                    }
                },
                {
                    "name": "limit",
                    "in": "query",
                    "description": "Number of results returned (Default: 20)",
                    "required": false,
                    "schema": {
                        "type": "integer"
                    }
                },
                {
                    "$ref": "#/components/parameters/poiDataset"
                },
                {
                    "$ref": "#/components/parameters/locale"
                },
                {
                    "name": "callback",
                    "in": "query",
                    "description": "JSONP Callback function (Default: Response in JSON)",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "tags": [
                    "Place"
                ],
                "summary": "Nearby POI",
                "description": "<label>Example</label><ul><li><a href=\"https://api.longdo.com/POIService/json/search?lon=100.5&lat=13.7&key=fortestonlydonotuseinproduction!\" target=\"_blank\">Minimum params</a></li><li><a href=\"https://api.longdo.com/POIService/json/search?tag=hotel&area=20&limit=10&key=fortestonlydonotuseinproduction!\" target=\"_blank\">With tag, area and limit</a></li></ul>",
                "operationId": "GetNearbyPlace",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "meta": {
                                            "description": "Metadata",
                                            "type": "object",
                                            "properties": {
                                                "hasmore": {
                                                    "description": "Has more result",
                                                    "type": "boolean"
                                                },
                                                "start": {
                                                    "description": "Start index",
                                                    "type": "integer"
                                                },
                                                "end": {
                                                    "description": "End index",
                                                    "type": "integer"
                                                },
                                                "keyword": {
                                                    "description": "Request keyword",
                                                    "type": "string"
                                                },
                                                "lon": {
                                                    "description": "Location of search parameter if specified",
                                                    "type": "number"
                                                },
                                                "lat": {
                                                    "description": "Location of search parameter if specified",
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "data": {
                                            "description": "List of results",
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "description": "Type of result",
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "description": "Longdo Map ID",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "Name",
                                                        "type": "string"
                                                    },
                                                    "lat": {
                                                        "description": "Latitude",
                                                        "type": "number"
                                                    },
                                                    "lon": {
                                                        "description": "Longitude",
                                                        "type": "number"
                                                    },
                                                    "icon": {
                                                        "description": "Icon image",
                                                        "type": "string"
                                                    },
                                                    "tag": {
                                                        "description": "List of tags",
                                                        "type": "array",
                                                        "items": {
                                                            "description": "Tag name",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "url": {
                                                        "description": "Website",
                                                        "type": "string"
                                                    },
                                                    "address": {
                                                        "description": "Street address",
                                                        "type": "string"
                                                    },
                                                    "tel": {
                                                        "description": "Telephone number",
                                                        "type": "string"
                                                    },
                                                    "contributor": {
                                                        "description": "Last contributor",
                                                        "type": "string"
                                                    },
                                                    "verified": {
                                                        "description": "Is POI verified",
                                                        "type": "boolean"
                                                    },
                                                    "obsoleted": {
                                                        "description": "Is POI obsoleted",
                                                        "type": "boolean"
                                                    },
                                                    "distance": {
                                                        "description": "Distance from center in the same unit of span, if span is provided",
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "key": []
                    }
                ]
            }
        },
        "/smartsearch/json/extract_address/v2": {
            "servers": [
                {
                    "url": "https://search.longdo.com"
                }
            ],
            "parameters": [
                {
                    "name": "text",
                    "in": "query",
                    "description": "Address text for extract location",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "correction",
                    "in": "query",
                    "description": "If set to 1, enable text correction mode (Default: 1)",
                    "required": false,
                    "schema": {
                        "type": "bit"
                    }
                },
                {
                    "name": "censor",
                    "in": "query",
                    "description": "If set to 1, telephone and email will be removed from response remark (Default: 0)",
                    "required": false,
                    "schema": {
                        "type": "bit"
                    }
                },
                {
                    "$ref": "#/components/parameters/locale"
                }
            ],
            "get": {
                "tags": [
                    "Address"
                ],
                "summary": "Extract address",
                "description": "<label>Example</label><ul><li><a href=\"https://search.longdo.com/smartsearch/json/extract_address/v2?text=%E0%B8%AD%E0%B8%B2%E0%B8%84%E0%B8%B2%E0%B8%A3%E0%B8%AA%E0%B8%B2%E0%B8%97%E0%B8%A3%E0%B8%AA%E0%B9%81%E0%B8%84%E0%B8%A7%E0%B8%A3%E0%B9%8C%20%E0%B8%AD%E0%B8%AD%E0%B8%9F%E0%B8%9F%E0%B8%B4%E0%B8%A8%20%E0%B8%97%E0%B8%B2%E0%B8%A7%E0%B9%80%E0%B8%A7%E0%B8%AD%E0%B8%A3%E0%B9%8C%2098%20%E0%B8%8A%E0%B8%B1%E0%B9%89%E0%B8%99%204%20%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%20407%20%E0%B8%96%E0%B8%99%E0%B8%99%E0%B8%AA%E0%B8%B2%E0%B8%97%E0%B8%A3%E0%B9%80%E0%B8%AB%E0%B8%99%E0%B8%B7%E0%B8%AD%20%E0%B9%81%E0%B8%82%E0%B8%A7%E0%B8%87%E0%B8%AA%E0%B8%B5%E0%B8%A5%E0%B8%A1%20%E0%B9%80%E0%B8%82%E0%B8%95%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%A3%E0%B8%B1%E0%B8%81%20%E0%B8%81%E0%B8%A3%E0%B8%B8%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%9E%E0%B8%A1%E0%B8%AB%E0%B8%B2%E0%B8%99%E0%B8%84%E0%B8%A3%2010500%20Tel.%20026329700%20Email:%20info@mm.co.th&key=fortestonlydonotuseinproduction!\" target=\"_blank\">Minimum params</a></li><li><a href=\"https://search.longdo.com/smartsearch/json/extract_address/v2?correction=0&text=%E0%B8%AD%E0%B8%B2%E0%B8%84%E0%B8%B2%E0%B8%A3%E0%B8%AA%E0%B8%B2%E0%B8%97%E0%B8%A3%E0%B8%AA%E0%B9%81%E0%B8%84%E0%B8%A7%E0%B8%A3%E0%B9%8C%20%E0%B8%AD%E0%B8%AD%E0%B8%9F%E0%B8%9F%E0%B8%B4%E0%B8%A8%20%E0%B8%97%E0%B8%B2%E0%B8%A7%E0%B9%80%E0%B8%A7%E0%B8%AD%E0%B8%A3%E0%B9%8C%2098%20%E0%B8%8A%E0%B8%B1%E0%B9%89%E0%B8%99%204%20%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%20407%20%E0%B8%96%E0%B8%99%E0%B8%99%E0%B8%AA%E0%B8%B2%E0%B8%97%E0%B8%A3%E0%B9%80%E0%B8%AB%E0%B8%99%E0%B8%B7%E0%B8%AD%20%E0%B9%81%E0%B8%82%E0%B8%A7%E0%B8%87%E0%B8%AA%E0%B8%B5%E0%B8%A5%E0%B8%A1%20%E0%B9%80%E0%B8%82%E0%B8%95%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%A3%E0%B8%B1%E0%B8%81%20%E0%B8%81%E0%B8%A3%E0%B8%B8%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%9E%E0%B8%A1%E0%B8%AB%E0%B8%B2%E0%B8%99%E0%B8%84%E0%B8%A3%2010500%20Tel.%20026329700%20Email:%20info@mm.co.th&key=fortestonlydonotuseinproduction!\" target=\"_blank\">No correction</a></li></li><li><a href=\"https://search.longdo.com/smartsearch/json/extract_address/v2?censor=1&text=%E0%B8%AD%E0%B8%B2%E0%B8%84%E0%B8%B2%E0%B8%A3%E0%B8%AA%E0%B8%B2%E0%B8%97%E0%B8%A3%E0%B8%AA%E0%B9%81%E0%B8%84%E0%B8%A7%E0%B8%A3%E0%B9%8C%20%E0%B8%AD%E0%B8%AD%E0%B8%9F%E0%B8%9F%E0%B8%B4%E0%B8%A8%20%E0%B8%97%E0%B8%B2%E0%B8%A7%E0%B9%80%E0%B8%A7%E0%B8%AD%E0%B8%A3%E0%B9%8C%2098%20%E0%B8%8A%E0%B8%B1%E0%B9%89%E0%B8%99%204%20%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%20407%20%E0%B8%96%E0%B8%99%E0%B8%99%E0%B8%AA%E0%B8%B2%E0%B8%97%E0%B8%A3%E0%B9%80%E0%B8%AB%E0%B8%99%E0%B8%B7%E0%B8%AD%20%E0%B9%81%E0%B8%82%E0%B8%A7%E0%B8%87%E0%B8%AA%E0%B8%B5%E0%B8%A5%E0%B8%A1%20%E0%B9%80%E0%B8%82%E0%B8%95%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B8%A3%E0%B8%B1%E0%B8%81%20%E0%B8%81%E0%B8%A3%E0%B8%B8%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%9E%E0%B8%A1%E0%B8%AB%E0%B8%B2%E0%B8%99%E0%B8%84%E0%B8%A3%2010500%20Tel.%20026329700%20Email:%20info@mm.co.th&key=fortestonlydonotuseinproduction!\" target=\"_blank\">Censor</a></li></ul>",
                "operationId": "GetExtractAddress",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "meta": {
                                            "description": "Metadata",
                                            "type": "object",
                                            "properties": {
                                                "input": {
                                                    "description": "Text input",
                                                    "type": "string"
                                                },
                                                "remark": {
                                                    "description": "Remaining text after address extraction",
                                                    "type": "string"
                                                },
                                                "locale": {
                                                    "description": "Language in ISO 639-1 format",
                                                    "type": "LocaleCode"
                                                }
                                            }
                                        },
                                        "data": {
                                            "description": "List of results",
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "house_no": {
                                                        "description": "House number",
                                                        "type": "string"
                                                    },
                                                    "floor": {
                                                        "description": "Floor",
                                                        "type": "string"
                                                    },
                                                    "room": {
                                                        "description": "Room number",
                                                        "type": "string"
                                                    },
                                                    "moo": {
                                                        "description": "Village number",
                                                        "type": "string"
                                                    },
                                                    "place": {
                                                        "description": "Place",
                                                        "$ref": "#/components/schemas/AddressInfo"
                                                    },
                                                    "building": {
                                                        "description": "Building",
                                                        "$ref": "#/components/schemas/AddressInfo"
                                                    },
                                                    "condominium": {
                                                        "description": "Condominium",
                                                        "$ref": "#/components/schemas/AddressInfo"
                                                    },
                                                    "village": {
                                                        "description": "Gated community",
                                                        "$ref": "#/components/schemas/AddressInfo"
                                                    },
                                                    "village_official": {
                                                        "description": "Village",
                                                        "$ref": "#/components/schemas/AddressInfo"
                                                    },
                                                    "sublane": {
                                                        "description": "Narrow alley",
                                                        "$ref": "#/components/schemas/AddressInfo"
                                                    },
                                                    "alley": {
                                                        "description": "Alley",
                                                        "$ref": "#/components/schemas/AddressInfo"
                                                    },
                                                    "road": {
                                                        "description": "Road",
                                                        "$ref": "#/components/schemas/AddressInfo"
                                                    },
                                                    "subdistrict": {
                                                        "description": "Subdistrict",
                                                        "$ref": "#/components/schemas/AddressInfo"
                                                    },
                                                    "district": {
                                                        "description": "District",
                                                        "$ref": "#/components/schemas/AddressInfo"
                                                    },
                                                    "province": {
                                                        "description": "Province",
                                                        "$ref": "#/components/schemas/AddressInfo"
                                                    },
                                                    "postcode": {
                                                        "description": "Postcode",
                                                        "type": "string"
                                                    },
                                                    "country": {
                                                        "description": "Country",
                                                        "type": "string"
                                                    },
                                                    "confidence": {
                                                        "description": "Score",
                                                        "type": "number"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "key": []
                    }
                ]
            }
        },
        "/addresslookup/api/addr/geocoding": {
            "servers": [
                {
                    "url": "https://search.longdo.com"
                }
            ],
            "parameters": [
                {
                    "name": "text",
                    "in": "query",
                    "description": "Address text for search location",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "dataset",
                    "in": "query",
                    "description": "Additional dataset",
                    "required": false,
                    "schema": {
                        "type": "Comma-separated string values"
                    }
                }
            ],
            "get": {
                "tags": [
                    "Address"
                ],
                "summary": "Geocoding",
                "description": "<label>Example</label><ul><li><a href=\"https://search.longdo.com/addresslookup/api/addr/geocoding?text=Sathorn%20Square%20Office%20Tower,%20Sathorn%20Nuea%20Rd.,%20Silom,%20Bangrak,%20Bangkok&key=fortestonlydonotuseinproduction!\" target=\"_blank\">Minimum params</a></li><li><a href=\"https://map-blog.longdo.com/geocoding-api/\" target=\"_blank\">blog</a></li></ul>",
                "operationId": "GetGeocoding",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of results",
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "confidence": {
                                                "description": "Score",
                                                "type": "number"
                                            },
                                            "location": {
                                                "description": "Location",
                                                "type": "object",
                                                "properties": {
                                                    "point": {
                                                        "description": "Building",
                                                        "$ref": "#/components/schemas/AddressInfo"
                                                    },
                                                    "houseno": {
                                                        "description": "House number",
                                                        "type": "string"
                                                    },
                                                    "road": {
                                                        "description": "Road",
                                                        "$ref": "#/components/schemas/AddressInfo"
                                                    },
                                                    "village": {
                                                        "description": "Village name",
                                                        "$ref": "#/components/schemas/AddressInfo"
                                                    },
                                                    "moo": {
                                                        "description": "Village number",
                                                        "type": "string"
                                                    },
                                                    "subdistrict": {
                                                        "description": "Subdistrict (tambon, khwaeng)",
                                                        "$ref": "#/components/schemas/AddressInfo"
                                                    },
                                                    "district": {
                                                        "description": "District (amphoe, khet)",
                                                        "$ref": "#/components/schemas/AddressInfo"
                                                    },
                                                    "province": {
                                                        "description": "Province",
                                                        "$ref": "#/components/schemas/AddressInfo"
                                                    },
                                                    "zipcode": {
                                                        "description": "Zipcode",
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "point": {
                                                "description": "Possible location",
                                                "type": "array",
                                                "items": {
                                                    "$ref": "#/components/schemas/Location"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "key": []
                    }
                ]
            }
        },
        "/map/services/address": {
            "servers": [
                {
                    "url": "https://api.longdo.com"
                }
            ],
            "parameters": [
                {
                    "name": "id",
                    "in": "query",
                    "description": "Search with Longdo Map ID",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "lon",
                    "in": "query",
                    "description": "Search with longitude if id isn't provide",
                    "required": false,
                    "schema": {
                        "type": "number"
                    }
                },
                {
                    "name": "lat",
                    "in": "query",
                    "description": "Search with latitude if id isn't provide",
                    "required": false,
                    "schema": {
                        "type": "number"
                    }
                },
                {
                    "$ref": "#/components/parameters/locale"
                },
                {
                    "name": "noadmin",
                    "in": "query",
                    "description": "Don't include geocode/province/district/subdistrict in the response (Default: Include)",
                    "required": false,
                    "schema": {
                        "type": "any"
                    }
                },
                {
                    "name": "nopostcode",
                    "in": "query",
                    "description": "Don't include postcode in the response (Default: Include)",
                    "required": false,
                    "schema": {
                        "type": "any"
                    }
                },
                {
                    "name": "noelevation",
                    "in": "query",
                    "description": "Don't include elevation in the response (Default: Include)",
                    "required": false,
                    "schema": {
                        "type": "any"
                    }
                },
                {
                    "name": "noroad",
                    "in": "query",
                    "description": "Don't include road in the response (Default: Include)",
                    "required": false,
                    "schema": {
                        "type": "any"
                    }
                },
                {
                    "name": "noaoi",
                    "in": "query",
                    "description": "Don't include area of interest in the response (Default: Include)",
                    "required": false,
                    "schema": {
                        "type": "any"
                    }
                },
                {
                    "name": "nowater",
                    "in": "query",
                    "description": "Don't include water body in the response (Default: Include)",
                    "required": false,
                    "schema": {
                        "type": "any"
                    }
                },
                {
                    "name": "callback",
                    "in": "query",
                    "description": "JSONP Callback function (Default: Response in JSON)",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "tags": [
                    "Address"
                ],
                "summary": "Reverse geocoding",
                "description": "<label>Example</label><ul><li><a href=\"https://api.longdo.com/map/services/address?id=A10000001&key=fortestonlydonotuseinproduction!\" target=\"_blank\">With id</a></li><li><a href=\"https://api.longdo.com/map/services/address?lon=100.5&lat=13.7&noadmin=1&nopostcode=1&noelevation=1&noaoi=1&nowater=1&key=fortestonlydonotuseinproduction!\" target=\"_blank\">With lat/lon, road only</a></li></ul>",
                "operationId": "GetReverseGeocoding",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReverseGeocodingResult"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "key": []
                    }
                ]
            }
        },
        "/map/services/addresses": {
            "servers": [
                {
                    "url": "https://api.longdo.com"
                }
            ],
            "parameters": [
                {
                    "name": "lon[]",
                    "in": "query",
                    "description": "Search with longitude, up to 100 coordinates (Optional)",
                    "required": false,
                    "schema": {
                        "type": "array",
                        "items": {
                            "type": "number"
                        }
                    },
                    "style": "spaceDelimited",
                    "explode": true
                },
                {
                    "name": "lat[]",
                    "in": "query",
                    "description": "Search with latitude, up to 100 coordinates (Optional)",
                    "required": false,
                    "schema": {
                        "type": "array",
                        "items": {
                            "type": "number"
                        }
                    },
                    "style": "spaceDelimited",
                    "explode": true
                },
                {
                    "name": "wkt",
                    "in": "query",
                    "description": "Search with well-known text if lon/lat isn't provide, show only admin in the response (Optional)",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "$ref": "#/components/parameters/locale"
                },
                {
                    "name": "noadmin",
                    "in": "query",
                    "description": "Don't include geocode/province/district/subdistrict in the response (Default: Include)",
                    "required": false,
                    "schema": {
                        "type": "any"
                    }
                },
                {
                    "name": "nopostcode",
                    "in": "query",
                    "description": "Don't include postcode in the response (Default: Include)",
                    "required": false,
                    "schema": {
                        "type": "any"
                    }
                },
                {
                    "name": "noelevation",
                    "in": "query",
                    "description": "Don't include elevation in the response (Default: Include)",
                    "required": false,
                    "schema": {
                        "type": "any"
                    }
                },
                {
                    "name": "noroad",
                    "in": "query",
                    "description": "Don't include road in the response (Default: Include)",
                    "required": false,
                    "schema": {
                        "type": "any"
                    }
                },
                {
                    "name": "noaoi",
                    "in": "query",
                    "description": "Don't include area of interest in the response (Default: Include)",
                    "required": false,
                    "schema": {
                        "type": "any"
                    }
                },
                {
                    "name": "nowater",
                    "in": "query",
                    "description": "Don't include water body in the response (Default: Include)",
                    "required": false,
                    "schema": {
                        "type": "any"
                    }
                },
                {
                    "name": "callback",
                    "in": "query",
                    "description": "JSONP Callback function (Default: Response in JSON)",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "tags": [
                    "Address"
                ],
                "summary": "Batch reverse geocoding",
                "description": "<label>Example</label><ul><li><a href=\"https://api.longdo.com/map/services/addresses?lon%5B0%5D=100&lat%5B0%5D=13&lon%5B1%5D=101&lat%5B1%5D=14&noelevation=1&key=fortestonlydonotuseinproduction!\" target=\"_blank\">Search 2 locations without elevation</a></li><li><a href=\"https://api.longdo.com/map/services/addresses?wkt=LINESTRING(100%2015,100.1%2014.9)&key=fortestonlydonotuseinproduction!\" target=\"_blank\">Search with WKT</a></li></ul>",
                "operationId": "GetBatchReverseGeocoding",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of results",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ReverseGeocodingResult"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "key": []
                    }
                ]
            }
        },
        "/POIService/json/address": {
            "servers": [
                {
                    "url": "https://api.longdo.com"
                }
            ],
            "parameters": [
                {
                    "name": "geocode",
                    "in": "query",
                    "description": "Search with geocode (Optional)",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "postcode",
                    "in": "query",
                    "description": "Search with postcode if geocode isn't provide (Optional)",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "$ref": "#/components/parameters/locale"
                },
                {
                    "name": "callback",
                    "in": "query",
                    "description": "JSONP Callback function (Default: Response in JSON)",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "tags": [
                    "Address"
                ],
                "summary": "Geocode / Postcode",
                "description": "<label>Example</label><ul><li><a href=\"https://api.longdo.com/POIService/json/address?geocode=100101&key=fortestonlydonotuseinproduction!\" target=\"_blank\">With geocode</a></li><li><a href=\"https://api.longdo.com/POIService/json/address?postcode=10100&locale=en&key=fortestonlydonotuseinproduction!\" target=\"_blank\">With postcode, Result in English</a></li></ul>",
                "operationId": "GetGeocodePostcode",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Result",
                                    "type": "object",
                                    "properties": {
                                        "geocode": {
                                            "description": "Geocode",
                                            "type": "string"
                                        },
                                        "province": {
                                            "description": "Province",
                                            "type": "string"
                                        },
                                        "district": {
                                            "description": "District",
                                            "type": "string"
                                        },
                                        "subdistrict": {
                                            "description": "Subdistrict",
                                            "type": "string"
                                        },
                                        "lat": {
                                            "description": "Latitude",
                                            "type": "number"
                                        },
                                        "lon": {
                                            "description": "Longitude",
                                            "type": "number"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "key": []
                    }
                ]
            }
        },
        "/RouteService/json/route/guide": {
            "servers": [
                {
                    "url": "https://api.longdo.com"
                }
            ],
            "parameters": [
                {
                    "name": "flon",
                    "in": "query",
                    "description": "Longitude of the starting point",
                    "required": false,
                    "schema": {
                        "type": "number"
                    }
                },
                {
                    "name": "flat",
                    "in": "query",
                    "description": "Latitude of the starting point",
                    "required": false,
                    "schema": {
                        "type": "number"
                    }
                },
                {
                    "name": "tlon",
                    "in": "query",
                    "description": "Longitude of the destination",
                    "required": false,
                    "schema": {
                        "type": "number"
                    }
                },
                {
                    "name": "tlat",
                    "in": "query",
                    "description": "Latitude of the destination",
                    "required": false,
                    "schema": {
                        "type": "number"
                    }
                },
                {
                    "$ref": "#/components/parameters/routeMode"
                },
                {
                    "$ref": "#/components/parameters/routeType"
                },
                {
                    "$ref": "#/components/parameters/routeRestrict"
                },
                {
                    "$ref": "#/components/parameters/locale"
                },
                {
                    "name": "time",
                    "in": "query",
                    "description": "Departure time, use with avoid traffic mode (Default: now, Past time is invalid)",
                    "required": false,
                    "schema": {
                        "type": "Unix time"
                    }
                },
                {
                    "name": "maxresult",
                    "in": "query",
                    "description": "Number of results (Default: 1, Max: 8)",
                    "required": false,
                    "schema": {
                        "type": "integer"
                    }
                },
                {
                    "name": "callback",
                    "in": "query",
                    "description": "JSONP Callback function (Default: Response in JSON)",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "tags": [
                    "Route"
                ],
                "summary": "Calculate route",
                "description": "<label>Example</label><ul><li><a href=\"https://api.longdo.com/RouteService/json/route/guide?flon=100.53726&flat=13.72427&tlon=100.54061&tlat=13.72669&key=fortestonlydonotuseinproduction!\" target=\"_blank\">Minimum params</a></li><li><a href=\"https://api.longdo.com/RouteService/json/route/guide?flon=100.53726&flat=13.72427&tlon=100.54061&tlat=13.72669&mode=t&type=25&locale=th&key=fortestonlydonotuseinproduction!\" target=\"_blank\">Avoid traffic mode, Use road/ferry/tollway, Result in Thai</a></li></ul>",
                "operationId": "GetCalculateRoute",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Result",
                                    "type": "object",
                                    "properties": {
                                        "meta": {
                                            "description": "Metadata",
                                            "type": "object",
                                            "properties": {
                                                "from": {
                                                    "description": "Starting point",
                                                    "$ref": "#/components/schemas/Location"
                                                },
                                                "to": {
                                                    "description": "Destination",
                                                    "$ref": "#/components/schemas/Location"
                                                },
                                                "config": {
                                                    "description": "Request parameters",
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "data": {
                                            "description": "List of results",
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "fdistance": {
                                                        "description": "Distance from starting point to nearest road in meters",
                                                        "type": "number"
                                                    },
                                                    "tdistance": {
                                                        "description": "Distance from nearest road to destination in meters",
                                                        "type": "number"
                                                    },
                                                    "distance": {
                                                        "description": "Distance in meters",
                                                        "type": "integer"
                                                    },
                                                    "interval": {
                                                        "description": "Travel time in seconds",
                                                        "type": "integer"
                                                    },
                                                    "id": {
                                                        "description": "Path ID for Get route path API",
                                                        "type": "integer"
                                                    },
                                                    "guide": {
                                                        "description": "List of roads",
                                                        "type": "array",
                                                        "items": {
                                                            "description": "Road",
                                                            "$ref": "#/components/schemas/GuideRoute"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "key": []
                    }
                ]
            }
        },
        "/RouteService/json/route/path": {
            "servers": [
                {
                    "url": "https://api.longdo.com"
                }
            ],
            "parameters": [
                {
                    "name": "id",
                    "in": "query",
                    "description": "Path ID from <a href=\"#operations-Route-GetCalculateRoute\">Calculate route</a> API",
                    "required": true,
                    "schema": {
                        "type": "integer"
                    }
                }
            ],
            "get": {
                "tags": [
                    "Route"
                ],
                "summary": "Get route path",
                "operationId": "GetRoutePath",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Result",
                                    "type": "object",
                                    "properties": {
                                        "meta": {
                                            "description": "Metadata",
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "description": "Request path ID",
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "data": {
                                            "description": "List of results, same index as <a href=\"#operations-Route-GetCalculateRoute\">Calculate route</a> API",
                                            "type": "array",
                                            "items": {
                                                "description": "Road line",
                                                "type": "array",
                                                "items": {
                                                    "$ref": "#/components/schemas/Location"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "key": []
                    }
                ]
            }
        },
        "/RouteService/geojson/route": {
            "servers": [
                {
                    "url": "https://api.longdo.com"
                }
            ],
            "parameters": [
                {
                    "name": "flon",
                    "in": "query",
                    "description": "Longitude of the starting point",
                    "required": false,
                    "schema": {
                        "type": "number"
                    }
                },
                {
                    "name": "flat",
                    "in": "query",
                    "description": "Latitude of the starting point",
                    "required": false,
                    "schema": {
                        "type": "number"
                    }
                },
                {
                    "name": "tlon",
                    "in": "query",
                    "description": "Longitude of the destination",
                    "required": false,
                    "schema": {
                        "type": "number"
                    }
                },
                {
                    "name": "tlat",
                    "in": "query",
                    "description": "Latitude of the destination",
                    "required": false,
                    "schema": {
                        "type": "number"
                    }
                },
                {
                    "$ref": "#/components/parameters/routeMode"
                },
                {
                    "$ref": "#/components/parameters/routeType"
                },
                {
                    "$ref": "#/components/parameters/routeRestrict"
                },
                {
                    "$ref": "#/components/parameters/locale"
                },
                {
                    "name": "time",
                    "in": "query",
                    "description": "Departure time, use with avoid traffic mode (Default: now, Past time is invalid)",
                    "required": false,
                    "schema": {
                        "type": "Unix time"
                    }
                },
                {
                    "name": "maxresult",
                    "in": "query",
                    "description": "Number of results (Default: 1, Max: 8)",
                    "required": false,
                    "schema": {
                        "type": "integer"
                    }
                },
                {
                    "name": "callback",
                    "in": "query",
                    "description": "JSONP Callback function (Default: Response in JSON)",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "tags": [
                    "Route"
                ],
                "summary": "Get Calculate route in GeoJSON",
                "description": "<label>Example</label><ul><li><a href=\"https://api.longdo.com/RouteService/geojson/route?flon=100.53726&flat=13.72427&tlon=100.54061&tlat=13.72669&key=fortestonlydonotuseinproduction!\" target=\"_blank\">Minimum params</a></li><li><a href=\"https://api.longdo.com/RouteService/geojson/route?flon=100.53726&flat=13.72427&tlon=100.54061&tlat=13.72669&mode=d&type=17&locale=th&key=fortestonlydonotuseinproduction!\" target=\"_blank\">Minimum distance mode, Use road/tollway, Result in Thai</a></li></ul>",
                "operationId": "GetCalculateRouteInGeoJSON",
                "responses": {
                    "200": {
                        "content": {
                            "application/geo+json": {
                                "schema": {
                                    "description": "Result",
                                    "type": "FeatureCollection",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "FeatureCollection"
                                        },
                                        "features": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "description": "Result",
                                                        "type": "string",
                                                        "example": "Feature"
                                                    },
                                                    "geometry": {
                                                        "type": "object",
                                                        "properties": {
                                                            "type": {
                                                                "type": "string",
                                                                "example": "LineString"
                                                            },
                                                            "coordinates": {
                                                                "type": "array",
                                                                "items": {
                                                                    "description": "[ longitude, latitude ]",
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "number"
                                                                    },
                                                                    "example": "[ 100.537323, 13.724069 ]",
                                                                    "minItems": 2,
                                                                    "maxItems": 2
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "properties": {
                                                        "$ref": "#/components/schemas/GuideRoute"
                                                    }
                                                }
                                            }
                                        },
                                        "meta": {
                                            "description": "Metadata",
                                            "type": "object",
                                            "properties": {
                                                "from": {
                                                    "description": "Starting point",
                                                    "$ref": "#/components/schemas/Location"
                                                },
                                                "to": {
                                                    "description": "Destination",
                                                    "$ref": "#/components/schemas/Location"
                                                },
                                                "config": {
                                                    "description": "Request parameters",
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "data": {
                                            "description": "Routing data",
                                            "type": "object",
                                            "properties": {
                                                "fdistance": {
                                                    "description": "Distance from starting point to nearest road in meters",
                                                    "type": "number"
                                                },
                                                "tdistance": {
                                                    "description": "Distance from nearest road to destination in meters",
                                                    "type": "number"
                                                },
                                                "distance": {
                                                    "description": "Distance in meters",
                                                    "type": "integer"
                                                },
                                                "interval": {
                                                    "description": "Travel time in seconds",
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "key": []
                    }
                ]
            }
        },
        "/RouteService/json/route/matrix": {
            "servers": [
                {
                    "url": "https://api.longdo.com"
                }
            ],
            "parameters": [
                {
                    "name": "flon[]",
                    "in": "query",
                    "description": "Longitude of the starting point, up to 25 coordinates",
                    "required": true,
                    "schema": {
                        "type": "array",
                        "items": {
                            "type": "number"
                        },
                        "minItems": 1,
                        "maxItems": 25
                    }
                },
                {
                    "name": "flat[]",
                    "in": "query",
                    "description": "Latitude of the starting point, up to 25 coordinates",
                    "required": true,
                    "schema": {
                        "type": "array",
                        "items": {
                            "type": "number"
                        },
                        "minItems": 1,
                        "maxItems": 25
                    }
                },
                {
                    "name": "tlon[]",
                    "in": "query",
                    "description": "Longitude of the destinatio, up to 25 coordinates",
                    "required": true,
                    "schema": {
                        "type": "array",
                        "items": {
                            "type": "number"
                        },
                        "minItems": 1,
                        "maxItems": 25
                    }
                },
                {
                    "name": "tlat[]",
                    "in": "query",
                    "description": "Latitude of the destination, up to 25 coordinates",
                    "required": true,
                    "schema": {
                        "type": "array",
                        "items": {
                            "type": "number"
                        },
                        "minItems": 1,
                        "maxItems": 25
                    }
                },
                {
                    "$ref": "#/components/parameters/routeMode"
                },
                {
                    "$ref": "#/components/parameters/routeType"
                },
                {
                    "$ref": "#/components/parameters/routeRestrict"
                },
                {
                    "$ref": "#/components/parameters/locale"
                },
                {
                    "name": "time",
                    "in": "query",
                    "description": "Departure time, use with avoid traffic mode (Default: now, Past time is invalid)",
                    "required": false,
                    "schema": {
                        "type": "Unix time"
                    }
                },
                {
                    "name": "callback",
                    "in": "query",
                    "description": "JSONP Callback function (Default: Response in JSON)",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "tags": [
                    "Route"
                ],
                "summary": "Calculate route matrix",
[...]
